* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.chessboard-container{
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row-reverse;
}

.chessboard-container > * > *{
  display: flex;
  justify-content: center;
  align-items: center;
}

.chessboard-container > :nth-child(even) > :nth-child(even),
.chessboard-container > :nth-child(odd) > :nth-child(odd)
{
  background-color: gainsboro;
  color:black;
}

.row {
  display: flex;
  flex-direction: column-reverse;
}

.square {
  width: 80px;
  height: 80px;
}
